
 {% load static %}
<link rel="stylesheet" href="{% static 'css/rankingenter.css' %}">

<div class="sp-container">
	<div class="sp-content">
		<div class="sp-globe"></div>
		<h2 class="frame-1">PLEASE</h2>
		<h2 class="frame-2">ENTER YOUR RANKING</h2>
		<h2 class="frame-3">TO SEE</h2>
		<h2 class="frame-5">
			<span>WHICH UNIVERSITY</span>
			
			<span>YOU CAN ENROLL.</span>
		</h2>
        <h2></h2>
        <form action="rankingenterresult">
            <input type="text" name="ranking" class="sp-circle-link" > 
        </form>
		
	</div>
</div>